<footer class="main-footer mt-5">
  <div class="container-fluid mw-1600">
    <div class="row justify-content-between">
      <div class="col-lg-3 mb-4 text-center text-lg-left pr-lg-4">
        <img
          width="40"
          class="mb-4"
          src="https://lunaphore.com/wp-content/themes/mokatheme/assets/img/lunaphore.svg"
          alt="Lunaphore's logo"
        />
        <p>
          LabSat® is CE/UKCA/UL marked and is For Research Use Only. Not for
          use in diagnostic procedures.
        </p>
        <p>
          COMET™ is CE/UKCA/UL marked and is For Research Use Only. Not for use
          in diagnostic procedures.
        </p>
      </div>
      <div class="col-lg-9">
        <div class="row justify-content-center">
          <div class="col-sm-4 col-md-2 text-center text-lg-left mb-3">
            <p><b>Products</b></p>
            <ul>
              <li>
                <a
                  class="sitemap-link"
                  href="https://lunaphore.com/products/comet/">COMET™</a
                >
              </li><li>
                <a
                  class="sitemap-link"
                  href="https://lunaphore.com/products/labsat/">LabSat®</a
                >
              </li><li>
                <a
                  class="sitemap-link"
                  href="https://lunaphore.com/products/horizon/">HORIZON™</a
                >
              </li><li>
                <a class="sitemap-link" href="https://lunaphore.com/reagents/"
                  >Reagents</a
                >
              </li>
            </ul>
          </div>
          <div class="col-sm-4 col-md text-center text-lg-left mb-3">
            <p><b>Resources</b></p>
            <ul>
              <li>
                <a class="sitemap-link" href="https://lunaphore.com/access-lab/"
                  >Access Lab</a
                >
              </li><li>
                <a
                  class="sitemap-link"
                  href="https://lunaphore.com/resource-center/"
                  >Resource Center</a
                >
              </li><li>
                <a
                  class="sitemap-link"
                  href="https://lunaphore.com/marker-database/"
                  >Marker Database</a
                >
              </li><li>
                <a
                  class="sitemap-link"
                  href="https://lunaphore.com/exploratory-applications/"
                  >Exploratory Applications</a
                >
              </li><li>
                <a
                  class="sitemap-link"
                  href="https://lunaphore.com/testimonials/">Testimonials</a
                >
              </li><li>
                <a
                  class="sitemap-link"
                  href="https://lunaphore.com/spatial-image-exploration/"
                  >Spatial Image Exploration</a
                >
              </li>
            </ul>
          </div>

          <div class="col-sm-4 col-md text-center text-lg-left mb-3">
            <p><b>Legal</b></p>
            <ul>
              <li>
                <a
                  class="sitemap-link"
                  href="https://lunaphore.com/terms-of-use/">Terms of Use</a
                >
              </li>
              <li>
                <a
                  class="sitemap-link"
                  href="https://lunaphore.com/terms-and-conditions/"
                  >Terms and Conditions</a
                >
              </li>
              <li>
                <a
                  class="sitemap-link"
                  href="https://lunaphore.com/privacy-policy/">Privacy</a
                >
              </li>
              <li>
                <a
                  class="sitemap-link"
                  href="https://lunaphore.com/cookie-policy/">Cookie Policy</a
                >
              </li>
              <li>
                <a id="ot-sdk-btn" class="sitemap-link ot-sdk-show-settings"
                  >Cookie Settings</a
                >
              </li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-5 text-center text-lg-left mb-3">
            <!-- Newsletter block -->
            <h4 class="h6 banner-title">Join our newsletter</h4>
            <p class="mb-0 mb-md-4">
              Get the latest news, updates and special offers!
            </p>
            <button
              class="btn btn-primary link-arrow text-nowrap mt-3 footer-btn-nl"
              data-toggle="modal"
              data-target="#hs6782cc94-467f-4a46-a2b5-46686d80759f"
            >
              <span>Sign up</span>
            </button>

            <div
              class="modal modal-side fade"
              id="hs6782cc94-467f-4a46-a2b5-46686d80759f"
              tabindex="-1"
              role="dialog"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button
                      class="btn btn-link p-0 close-link link-arrow lighter-line"
                      type="button"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span class="p-body-b">Close</span>
                    </button>
                  </div>
                  <div class="modal-body pt-0">
                    <script data-hubspot-rendered="true">
                      window.hsFormsOnReady = window.hsFormsOnReady || [];
                      window.hsFormsOnReady.push(() => {
                        hbspt.forms.create({
                          portalId: 25173058,
                          formId: "6782cc94-467f-4a46-a2b5-46686d80759f",
                          target: "#hbspt-form-1713277682000-9841556646",
                          region: "eu1",
                        });
                      });
                    </script>
                    <div
                      class="hbspt-form"
                      id="hbspt-form-1713277682000-9841556646"
                      data-hs-forms-root="true"
                    >
                      <form
                        id="hsForm_6782cc94-467f-4a46-a2b5-46686d80759f"
                        method="POST"
                        accept-charset="UTF-8"
                        enctype="multipart/form-data"
                        novalidate=""
                        action="https://forms-eu1.hsforms.com/submissions/v3/public/submit/formsnext/multipart/25173058/6782cc94-467f-4a46-a2b5-46686d80759f"
                        class="hs-form-private hsForm_6782cc94-467f-4a46-a2b5-46686d80759f hs-form-6782cc94-467f-4a46-a2b5-46686d80759f hs-form-6782cc94-467f-4a46-a2b5-46686d80759f_5ca51a0f-3451-4e58-80ef-3ef930cf65d5 hs-form stacked"
                        target="target_iframe_6782cc94-467f-4a46-a2b5-46686d80759f"
                        data-instance-id="5ca51a0f-3451-4e58-80ef-3ef930cf65d5"
                        data-form-id="6782cc94-467f-4a46-a2b5-46686d80759f"
                        data-portal-id="25173058"
                        data-test-id="hsForm_6782cc94-467f-4a46-a2b5-46686d80759f"
                        data-hs-cf-bound="true"
                      >
                        <fieldset class="form-columns-3">
                          <div
                            class="hs_salutation hs-salutation hs-fieldtype-select field hs-form-field smart-field"
                          >
                            <label
                              id="label-salutation-6782cc94-467f-4a46-a2b5-46686d80759f"
                              class=""
                              for="salutation-6782cc94-467f-4a46-a2b5-46686d80759f"
                              ><span>Salutation</span><span
                                class="hs-form-required">*</span
                              ></label
                            ><legend
                              class="hs-field-desc"
                              style="display: none;"></legend><div
                              class="input"
                            >
                              <select
                                id="salutation-6782cc94-467f-4a46-a2b5-46686d80759f"
                                required=""
                                class="hs-input is-placeholder"
                                name="salutation"
                                ><option disabled="" value=""
                                  >Please Select</option
                                ><option value="Prof.">Prof.</option><option
                                  value="Prof. Dr.">Prof. Dr.</option
                                ><option value="Dr.">Dr.</option><option
                                  value="Mr.">Mr.</option
                                ><option value="Mrs.">Mrs.</option><option
                                  value="Ms.">Ms.</option
                                ></select
                              >
                            </div>
                          </div><div
                            class="hs_firstname hs-firstname hs-fieldtype-text field hs-form-field smart-field"
                          >
                            <label
                              id="label-firstname-6782cc94-467f-4a46-a2b5-46686d80759f"
                              class=""
                              for="firstname-6782cc94-467f-4a46-a2b5-46686d80759f"
                              ><span>First name</span><span
                                class="hs-form-required">*</span
                              ></label
                            ><legend
                              class="hs-field-desc"
                              style="display: none;"></legend><div
                              class="input"
                            >
                              <input
                                id="firstname-6782cc94-467f-4a46-a2b5-46686d80759f"
                                name="firstname"
                                required=""
                                type="text"
                                class="hs-input"
                                inputmode="text"
                                autocomplete="given-name"
                                value=""
                              />
                            </div>
                          </div><div
                            class="hs_lastname hs-lastname hs-fieldtype-text field hs-form-field smart-field"
                          >
                            <label
                              id="label-lastname-6782cc94-467f-4a46-a2b5-46686d80759f"
                              class=""
                              for="lastname-6782cc94-467f-4a46-a2b5-46686d80759f"
                              ><span>Last name</span><span
                                class="hs-form-required">*</span
                              ></label
                            ><legend
                              class="hs-field-desc"
                              style="display: none;"></legend><div
                              class="input"
                            >
                              <input
                                id="lastname-6782cc94-467f-4a46-a2b5-46686d80759f"
                                name="lastname"
                                required=""
                                type="text"
                                class="hs-input"
                                inputmode="text"
                                autocomplete="family-name"
                                value=""
                              />
                            </div>
                          </div>
                        </fieldset><fieldset class="form-columns-1">
                          <div
                            class="hs_email hs-email hs-fieldtype-text field hs-form-field"
                          >
                            <label
                              id="label-email-6782cc94-467f-4a46-a2b5-46686d80759f"
                              class=""
                              for="email-6782cc94-467f-4a46-a2b5-46686d80759f"
                              ><span>E-Mail</span><span class="hs-form-required"
                                >*</span
                              ></label
                            ><legend
                              class="hs-field-desc"
                              style="display: none;"></legend><div
                              class="input"
                            >
                              <input
                                id="email-6782cc94-467f-4a46-a2b5-46686d80759f"
                                name="email"
                                required=""
                                type="email"
                                class="hs-input"
                                inputmode="email"
                                autocomplete="email"
                                value=""
                              />
                            </div>
                          </div>
                        </fieldset><fieldset class="form-columns-1">
                          <div
                            class="hs_form_country hs-form_country hs-fieldtype-select field hs-form-field"
                          >
                            <label
                              id="label-form_country-6782cc94-467f-4a46-a2b5-46686d80759f"
                              class=""
                              for="form_country-6782cc94-467f-4a46-a2b5-46686d80759f"
                              ><span>Country</span><span
                                class="hs-form-required">*</span
                              ></label
                            ><legend
                              class="hs-field-desc"
                              style="display: none;"></legend><div
                              class="input"
                            >
                              <select
                                id="form_country-6782cc94-467f-4a46-a2b5-46686d80759f"
                                required=""
                                class="hs-input is-placeholder"
                                name="form_country"
                                ><option disabled="" value=""
                                  >Please Select</option
                                ><option value=""></option><option
                                  value="Afghanistan">Afghanistan</option
                                ><option value="Åland Islands"
                                  >Åland Islands</option
                                ><option value="Albania">Albania</option><option
                                  value="Algeria">Algeria</option
                                ><option value="American Samoa"
                                  >American Samoa</option
                                ><option value="Andorra">Andorra</option><option
                                  value="Angola">Angola</option
                                ><option value="Anguilla">Anguilla</option
                                ><option value="Antarctica">Antarctica</option
                                ><option value="Antigua and Barbuda"
                                  >Antigua and Barbuda</option
                                ><option value="Argentina">Argentina</option
                                ><option value="Armenia">Armenia</option><option
                                  value="Aruba">Aruba</option
                                ><option value="Asia/Pacific Region"
                                  >Asia/Pacific Region</option
                                ><option value="Australia">Australia</option
                                ><option value="Austria">Austria</option><option
                                  value="Azerbaijan">Azerbaijan</option
                                ><option value="Bahamas">Bahamas</option><option
                                  value="Bahrain">Bahrain</option
                                ><option value="Bangladesh">Bangladesh</option
                                ><option value="Barbados">Barbados</option
                                ><option value="Belarus">Belarus</option><option
                                  value="Belgium">Belgium</option
                                ><option value="Belize">Belize</option><option
                                  value="Benin">Benin</option
                                ><option value="Bermuda">Bermuda</option><option
                                  value="Bhutan">Bhutan</option
                                ><option value="Bolivia">Bolivia</option><option
                                  value="Bosnia and Herzegovina"
                                  >Bosnia and Herzegovina</option
                                ><option value="Botswana">Botswana</option
                                ><option value="Bouvet Island"
                                  >Bouvet Island</option
                                ><option value="Brazil">Brazil</option><option
                                  value="British Indian Ocean Territory"
                                  >British Indian Ocean Territory</option
                                ><option value="British Virgin Islands"
                                  >British Virgin Islands</option
                                ><option value="Brunei">Brunei</option><option
                                  value="Bulgaria">Bulgaria</option
                                ><option value="Burkina Faso"
                                  >Burkina Faso</option
                                ><option value="Burundi">Burundi</option><option
                                  value="Cambodia">Cambodia</option
                                ><option value="Cameroon">Cameroon</option
                                ><option value="Canada">Canada</option><option
                                  value="Cape Verde">Cape Verde</option
                                ><option value="Caribbean Netherlands"
                                  >Caribbean Netherlands</option
                                ><option value="Cayman Islands"
                                  >Cayman Islands</option
                                ><option value="Central African Republic"
                                  >Central African Republic</option
                                ><option value="Chad">Chad</option><option
                                  value="Chile">Chile</option
                                ><option value="China">China</option><option
                                  value="Christmas Island"
                                  >Christmas Island</option
                                ><option value="Cocos (Keeling) Islands"
                                  >Cocos (Keeling) Islands</option
                                ><option value="Colombia">Colombia</option
                                ><option value="Comoros">Comoros</option><option
                                  value="Congo">Congo</option
                                ><option value="Cook Islands"
                                  >Cook Islands</option
                                ><option value="Costa Rica">Costa Rica</option
                                ><option value="Cote d'Ivoire"
                                  >Cote d'Ivoire</option
                                ><option value="Croatia">Croatia</option><option
                                  value="Cuba">Cuba</option
                                ><option value="Curaçao">Curaçao</option><option
                                  value="Cyprus">Cyprus</option
                                ><option value="Czech Republic"
                                  >Czech Republic</option
                                ><option
                                  value="Democratic Republic of the Congo"
                                  >Democratic Republic of the Congo</option
                                ><option value="Denmark">Denmark</option><option
                                  value="Djibouti">Djibouti</option
                                ><option value="Dominica">Dominica</option
                                ><option value="Dominican Republic"
                                  >Dominican Republic</option
                                ><option value="East Timor">East Timor</option
                                ><option value="Ecuador">Ecuador</option><option
                                  value="Egypt">Egypt</option
                                ><option value="El Salvador">El Salvador</option
                                ><option value="Equatorial Guinea"
                                  >Equatorial Guinea</option
                                ><option value="Eritrea">Eritrea</option><option
                                  value="Estonia">Estonia</option
                                ><option value="Ethiopia">Ethiopia</option
                                ><option value="Europe">Europe</option><option
                                  value="Falkland Islands"
                                  >Falkland Islands</option
                                ><option value="Faroe Islands"
                                  >Faroe Islands</option
                                ><option value="Fiji">Fiji</option><option
                                  value="Finland">Finland</option
                                ><option value="France">France</option><option
                                  value="French Guiana">French Guiana</option
                                ><option value="French Polynesia"
                                  >French Polynesia</option
                                ><option
                                  value="French Southern and Antarctic Lands"
                                  >French Southern and Antarctic Lands</option
                                ><option value="Gabon">Gabon</option><option
                                  value="Gambia">Gambia</option
                                ><option value="Georgia">Georgia</option><option
                                  value="Germany">Germany</option
                                ><option value="Ghana">Ghana</option><option
                                  value="Gibraltar">Gibraltar</option
                                ><option value="Greece">Greece</option><option
                                  value="Greenland">Greenland</option
                                ><option value="Grenada">Grenada</option><option
                                  value="Guadeloupe">Guadeloupe</option
                                ><option value="Guam">Guam</option><option
                                  value="Guatemala">Guatemala</option
                                ><option value="Guernsey">Guernsey</option
                                ><option value="Guinea">Guinea</option><option
                                  value="Guinea-Bissau">Guinea-Bissau</option
                                ><option value="Guyana">Guyana</option><option
                                  value="Haiti">Haiti</option
                                ><option
                                  value="Heard Island and McDonald Islands"
                                  >Heard Island and McDonald Islands</option
                                ><option value="Honduras">Honduras</option
                                ><option value="Hong Kong">Hong Kong</option
                                ><option value="Hungary">Hungary</option><option
                                  value="Iceland">Iceland</option
                                ><option value="India">India</option><option
                                  value="Indonesia">Indonesia</option
                                ><option value="Iran">Iran</option><option
                                  value="Iraq">Iraq</option
                                ><option value="Ireland">Ireland</option><option
                                  value="Isle of Man">Isle of Man</option
                                ><option value="Israel">Israel</option><option
                                  value="Italy">Italy</option
                                ><option value="Jamaica">Jamaica</option><option
                                  value="Japan">Japan</option
                                ><option value="Jersey">Jersey</option><option
                                  value="Jordan">Jordan</option
                                ><option value="Kazakhstan">Kazakhstan</option
                                ><option value="Kenya">Kenya</option><option
                                  value="Kiribati">Kiribati</option
                                ><option value="Kosovo">Kosovo</option><option
                                  value="Kuwait">Kuwait</option
                                ><option value="Kyrgyzstan">Kyrgyzstan</option
                                ><option value="Laos">Laos</option><option
                                  value="Latvia">Latvia</option
                                ><option value="Lebanon">Lebanon</option><option
                                  value="Lesotho">Lesotho</option
                                ><option value="Liberia">Liberia</option><option
                                  value="Libya">Libya</option
                                ><option value="Liechtenstein"
                                  >Liechtenstein</option
                                ><option value="Lithuania">Lithuania</option
                                ><option value="Luxembourg">Luxembourg</option
                                ><option value="Macau">Macau</option><option
                                  value="Macedonia (FYROM)"
                                  >Macedonia (FYROM)</option
                                ><option value="Madagascar">Madagascar</option
                                ><option value="Malawi">Malawi</option><option
                                  value="Malaysia">Malaysia</option
                                ><option value="Maldives">Maldives</option
                                ><option value="Mali">Mali</option><option
                                  value="Malta">Malta</option
                                ><option value="Marshall Islands"
                                  >Marshall Islands</option
                                ><option value="Martinique">Martinique</option
                                ><option value="Mauritania">Mauritania</option
                                ><option value="Mauritius">Mauritius</option
                                ><option value="Mayotte">Mayotte</option><option
                                  value="Mexico">Mexico</option
                                ><option value="Micronesia">Micronesia</option
                                ><option value="Moldova">Moldova</option><option
                                  value="Monaco">Monaco</option
                                ><option value="Mongolia">Mongolia</option
                                ><option value="Montenegro">Montenegro</option
                                ><option value="Montserrat">Montserrat</option
                                ><option value="Morocco">Morocco</option><option
                                  value="Mozambique">Mozambique</option
                                ><option value="Myanmar (Burma)"
                                  >Myanmar (Burma)</option
                                ><option value="Namibia">Namibia</option><option
                                  value="Nauru">Nauru</option
                                ><option value="Nepal">Nepal</option><option
                                  value="Netherlands">Netherlands</option
                                ><option value="Netherlands Antilles"
                                  >Netherlands Antilles</option
                                ><option value="New Caledonia"
                                  >New Caledonia</option
                                ><option value="New Zealand">New Zealand</option
                                ><option value="Nicaragua">Nicaragua</option
                                ><option value="Niger">Niger</option><option
                                  value="Nigeria">Nigeria</option
                                ><option value="Niue">Niue</option><option
                                  value="Norfolk Island">Norfolk Island</option
                                ><option value="North Korea">North Korea</option
                                ><option value="Northern Mariana Islands"
                                  >Northern Mariana Islands</option
                                ><option value="Norway">Norway</option><option
                                  value="Oman">Oman</option
                                ><option value="Pakistan">Pakistan</option
                                ><option value="Palau">Palau</option><option
                                  value="Palestine">Palestine</option
                                ><option value="Panama">Panama</option><option
                                  value="Papua New Guinea"
                                  >Papua New Guinea</option
                                ><option value="Paraguay">Paraguay</option
                                ><option value="Peru">Peru</option><option
                                  value="Philippines">Philippines</option
                                ><option value="Pitcairn Islands"
                                  >Pitcairn Islands</option
                                ><option value="Poland">Poland</option><option
                                  value="Portugal">Portugal</option
                                ><option value="Puerto Rico">Puerto Rico</option
                                ><option value="Qatar">Qatar</option><option
                                  value="Réunion">Réunion</option
                                ><option value="Romania">Romania</option><option
                                  value="Russia">Russia</option
                                ><option value="Rwanda">Rwanda</option><option
                                  value="Saint Barthélemy"
                                  >Saint Barthélemy</option
                                ><option value="Saint Helena"
                                  >Saint Helena</option
                                ><option value="Saint Kitts and Nevis"
                                  >Saint Kitts and Nevis</option
                                ><option value="Saint Lucia">Saint Lucia</option
                                ><option value="Saint Martin"
                                  >Saint Martin</option
                                ><option value="Saint Pierre and Miquelon"
                                  >Saint Pierre and Miquelon</option
                                ><option
                                  value="Saint Vincent and the Grenadines"
                                  >Saint Vincent and the Grenadines</option
                                ><option value="Samoa">Samoa</option><option
                                  value="San Marino">San Marino</option
                                ><option value="Sao Tome and Principe"
                                  >Sao Tome and Principe</option
                                ><option value="Saudi Arabia"
                                  >Saudi Arabia</option
                                ><option value="Senegal">Senegal</option><option
                                  value="Serbia">Serbia</option
                                ><option value="Seychelles">Seychelles</option
                                ><option value="Sierra Leone"
                                  >Sierra Leone</option
                                ><option value="Singapore">Singapore</option
                                ><option value="Sint Maarten"
                                  >Sint Maarten</option
                                ><option value="Slovakia">Slovakia</option
                                ><option value="Slovenia">Slovenia</option
                                ><option value="Solomon Islands"
                                  >Solomon Islands</option
                                ><option value="Somalia">Somalia</option><option
                                  value="South Africa">South Africa</option
                                ><option
                                  value="South Georgia and the South Sandwich Islands"
                                  >South Georgia and the South Sandwich Islands</option
                                ><option value="South Korea">South Korea</option
                                ><option value="South Sudan">South Sudan</option
                                ><option value="Spain">Spain</option><option
                                  value="Sri Lanka">Sri Lanka</option
                                ><option value="Sudan">Sudan</option><option
                                  value="Suriname">Suriname</option
                                ><option value="Svalbard and Jan Mayen"
                                  >Svalbard and Jan Mayen</option
                                ><option value="Swaziland">Swaziland</option
                                ><option value="Sweden">Sweden</option><option
                                  value="Switzerland">Switzerland</option
                                ><option value="Syria">Syria</option><option
                                  value="Taiwan">Taiwan</option
                                ><option value="Tajikistan">Tajikistan</option
                                ><option value="Tanzania">Tanzania</option
                                ><option value="Thailand">Thailand</option
                                ><option value="Togo">Togo</option><option
                                  value="Tokelau">Tokelau</option
                                ><option value="Tonga">Tonga</option><option
                                  value="Trinidad and Tobago"
                                  >Trinidad and Tobago</option
                                ><option value="Tunisia">Tunisia</option><option
                                  value="Turkey">Turkey</option
                                ><option value="Turkmenistan"
                                  >Turkmenistan</option
                                ><option value="Turks and Caicos Islands"
                                  >Turks and Caicos Islands</option
                                ><option value="Tuvalu">Tuvalu</option><option
                                  value="U.S. Virgin Islands"
                                  >U.S. Virgin Islands</option
                                ><option value="Uganda">Uganda</option><option
                                  value="Ukraine">Ukraine</option
                                ><option value="United Arab Emirates"
                                  >United Arab Emirates</option
                                ><option value="United Kingdom"
                                  >United Kingdom</option
                                ><option value="United States"
                                  >United States</option
                                ><option
                                  value="United States Minor Outlying Islands"
                                  >United States Minor Outlying Islands</option
                                ><option value="Uruguay">Uruguay</option><option
                                  value="Uzbekistan">Uzbekistan</option
                                ><option value="Vanuatu">Vanuatu</option><option
                                  value="Vatican City">Vatican City</option
                                ><option value="Venezuela">Venezuela</option
                                ><option value="Vietnam">Vietnam</option><option
                                  value="Wallis and Futuna"
                                  >Wallis and Futuna</option
                                ><option value="Western Sahara"
                                  >Western Sahara</option
                                ><option value="Yemen">Yemen</option><option
                                  value="Zambia">Zambia</option
                                ><option value="Zimbabwe">Zimbabwe</option
                                ></select
                              >
                            </div>
                          </div>
                        </fieldset><fieldset class="form-columns-1">
                          <div class="hs-dependent-field">
                            <div
                              class="hs_profession hs-profession hs-fieldtype-select field hs-form-field"
                            >
                              <label
                                id="label-profession-6782cc94-467f-4a46-a2b5-46686d80759f"
                                class=""
                                for="profession-6782cc94-467f-4a46-a2b5-46686d80759f"
                                ><span>Profession</span><span
                                  class="hs-form-required">*</span
                                ></label
                              ><legend
                                class="hs-field-desc"
                                style="display: none;"></legend><div
                                class="input"
                              >
                                <select
                                  id="profession-6782cc94-467f-4a46-a2b5-46686d80759f"
                                  required=""
                                  class="hs-input is-placeholder"
                                  name="profession"
                                  ><option disabled="" value=""
                                    >Please Select</option
                                  ><option value="Research & Science"
                                    >Research &amp; Science</option
                                  ><option value="Investment">Investment</option
                                  ><option value="Distribution"
                                    >Distribution</option
                                  ><option value="Media & Journalism"
                                    >Media &amp; Journalism</option
                                  ><option value="HR">HR</option><option
                                    value="Other">Other</option
                                  ></select
                                >
                              </div>
                            </div>
                          </div>
                        </fieldset><fieldset class="form-columns-1">
                          <div
                            class="hs_utm_campaign hs-utm_campaign hs-fieldtype-text field hs-form-field"
                            style="display: none;"
                          >
                            <label
                              id="label-utm_campaign-6782cc94-467f-4a46-a2b5-46686d80759f"
                              class=""
                              for="utm_campaign-6782cc94-467f-4a46-a2b5-46686d80759f"
                              ><span>UTM-campaign</span></label
                            ><legend
                              class="hs-field-desc"
                              style="display: none;"></legend><div
                              class="input"
                            >
                              <input
                                name="utm_campaign"
                                class="hs-input"
                                type="hidden"
                                value=""
                              />
                            </div>
                          </div>
                        </fieldset><fieldset class="form-columns-1">
                          <div
                            class="hs_utm_medium hs-utm_medium hs-fieldtype-text field hs-form-field"
                            style="display: none;"
                          >
                            <label
                              id="label-utm_medium-6782cc94-467f-4a46-a2b5-46686d80759f"
                              class=""
                              for="utm_medium-6782cc94-467f-4a46-a2b5-46686d80759f"
                              ><span>UTM-medium</span></label
                            ><legend
                              class="hs-field-desc"
                              style="display: none;"></legend><div
                              class="input"
                            >
                              <input
                                name="utm_medium"
                                class="hs-input"
                                type="hidden"
                                value=""
                              />
                            </div>
                          </div>
                        </fieldset><fieldset class="form-columns-1">
                          <div
                            class="hs_utm_source hs-utm_source hs-fieldtype-text field hs-form-field"
                            style="display: none;"
                          >
                            <label
                              id="label-utm_source-6782cc94-467f-4a46-a2b5-46686d80759f"
                              class=""
                              for="utm_source-6782cc94-467f-4a46-a2b5-46686d80759f"
                              ><span>UTM-source</span></label
                            ><legend
                              class="hs-field-desc"
                              style="display: none;"></legend><div
                              class="input"
                            >
                              <input
                                name="utm_source"
                                class="hs-input"
                                type="hidden"
                                value=""
                              />
                            </div>
                          </div>
                        </fieldset><fieldset class="form-columns-1">
                          <div class="legal-consent-container">
                            <div>
                              <div class="hs-dependent-field">
                                <div
                                  class="hs_LEGAL_CONSENT.subscription_type_122548397 hs-LEGAL_CONSENT.subscription_type_122548397 hs-fieldtype-booleancheckbox field hs-form-field"
                                >
                                  <legend
                                    class="hs-field-desc"
                                    style="display: none;"></legend><div
                                    class="input"
                                  >
                                    <ul class="inputs-list">
                                      <li class="hs-form-booleancheckbox">
                                        <label
                                          for="LEGAL_CONSENT.subscription_type_122548397-6782cc94-467f-4a46-a2b5-46686d80759f"
                                          class="hs-form-booleancheckbox-display"
                                          ><input
                                            id="LEGAL_CONSENT.subscription_type_122548397-6782cc94-467f-4a46-a2b5-46686d80759f"
                                            class="hs-input"
                                            type="checkbox"
                                            name="LEGAL_CONSENT.subscription_type_122548397"
                                            value="true"
                                          /><span
                                            ><p>
                                              I agree to receive relevant
                                              information and updates from
                                              Lunaphore about its products. You
                                              can unsubscribe from this list at
                                              any time. For further information
                                              please review the Privacy Policy
                                              and Legal Statement on our
                                              website.
                                            </p></span
                                          ></label
                                        >
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div><legend
                                class="hs-field-desc checkbox-desc"
                                style="display: none;"></legend>
                            </div>
                          </div>
                        </fieldset><div
                          class="hs_recaptcha hs-recaptcha field hs-form-field"
                        >
                          <div class="input">
                            <div
                              class="grecaptcha-badge"
                              data-style="inline"
                              style="width: 256px; height: 60px; box-shadow: gray 0px 0px 5px;"
                            >
                              <div class="grecaptcha-logo">
                                <iframe
                                  title="reCAPTCHA"
                                  width="256"
                                  height="60"
                                  role="presentation"
                                  name="a-wphk5dajmhcm"
                                  frameborder="0"
                                  scrolling="no"
                                  sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
                                  src="https://www.google.com/recaptcha/enterprise/anchor?ar=1&k=6Ld_ad8ZAAAAAAqr0ePo1dUfAi0m4KPkCMQYwPPm&co=aHR0cHM6Ly9sdW5hcGhvcmUuY29tOjQ0Mw..&hl=en&v=rz4DvU-cY2JYCwHSTck0_qm-&size=invisible&badge=inline&cb=7o5xnlaj468b"
                                  data-origwidth="256"
                                  data-origheight="60"
                                  style="width: 0px; height: 0px;"></iframe>
                              </div><div class="grecaptcha-error">
                              </div><textarea
                                id="g-recaptcha-response"
                                name="g-recaptcha-response"
                                class="g-recaptcha-response"
                                style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"
                              ></textarea>
                            </div><iframe
                              style="display: none; width: 0px;"
                              data-origwidth=""
                              data-origheight=""></iframe>
                          </div><input
                            type="hidden"
                            name="g-recaptcha-response"
                            id="hs-recaptcha-response"
                            value=""
                          />
                        </div><div class="hs_submit hs-submit">
                          <div class="hs-field-desc" style="display: none;">
                          </div><div class="actions">
                            <input
                              type="submit"
                              class="hs-button primary large"
                              value="Submit"
                            />
                          </div>
                        </div><input
                          name="hs_context"
                          type="hidden"
                          value='{"embedAtTimestamp":"1713277685205","formDefinitionUpdatedAt":"1710248011110","lang":"en","legalConsentOptions":"{\"communicationConsentCheckboxes\":[{\"communicationTypeId\":122548397,\"label\":\"<p>I agree to receive relevant information and updates from Lunaphore about its products. You can unsubscribe from this list at any time. For further information please review the Privacy Policy and Legal Statement on our website.</p>\",\"required\":false}],\"legitimateInterestLegalBasis\":\"LEGITIMATE_INTEREST_PQL\",\"processingConsentType\":\"IMPLICIT\",\"processingConsentCheckboxLabel\":\"<p>I agree to allow Lunaphore Technologies to store and process my personal data.</p>\",\"isLegitimateInterest\":false}","embedType":"SHARABLE","disableCookieSubmission":"true","clonedFromForm":"a746fc3f-ceb5-4fdd-afdc-e17b36f0670b","renderRawHtml":"true","userAgent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36","pageTitle":"Lunaphore | Accelerating Spatial Biology | Multiplex Solutions","pageUrl":"https://lunaphore.com/","isHubSpotCmsGeneratedPage":false,"hutk":"1bab424cace51779e27c3b0006bc93a2","__hstc":"220702343.1bab424cace51779e27c3b0006bc93a2.1702467667886.1702467667886.1702467667886.1","formTarget":"#hbspt-form-1713277682000-9841556646","boolCheckBoxFields":"LEGAL_CONSENT.subscription_type_122548397","rumScriptExecuteTime":2427.5,"rumTotalRequestTime":3522.7999999988824,"rumTotalRenderTime":3546.39999999851,"rumServiceResponseTime":1095.2999999988824,"rumFormRenderTime":23.59999999962747,"connectionType":"4g","firstContentfulPaint":0,"largestContentfulPaint":0,"locale":"en","timestamp":1713277685320,"originalEmbedContext":{"portalId":"25173058","formId":"6782cc94-467f-4a46-a2b5-46686d80759f","region":"eu1","target":"#hbspt-form-1713277682000-9841556646","isBuilder":false,"isTestPage":false,"isPreview":false,"isMobileResponsive":true},"correlationId":"5ca51a0f-3451-4e58-80ef-3ef930cf65d5","renderedFieldsIds":["salutation","firstname","lastname","email","form_country","profession","utm_campaign","utm_medium","utm_source","LEGAL_CONSENT.subscription_type_122548397"],"captchaStatus":"LOADED","emailResubscribeStatus":"NOT_APPLICABLE","isInsideCrossOriginFrame":false,"source":"forms-embed-1.5064","sourceName":"forms-embed","sourceVersion":"1.5064","sourceVersionMajor":"1","sourceVersionMinor":"5064","allPageIds":{},"_debug_embedLogLines":[{"clientTimestamp":1713277685234,"level":"INFO","message":"Retrieved pageContext values which may be overriden by the embed context: {\"pageTitle\":\"Lunaphore | Accelerating Spatial Biology | Multiplex Solutions\",\"pageUrl\":\"https://lunaphore.com/\",\"userAgent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36\",\"isHubSpotCmsGeneratedPage\":false}"},{"clientTimestamp":1713277685236,"level":"INFO","message":"Retrieved countryCode property from normalized embed definition response: \"AR\""}]}'
                        /><iframe
                          name="target_iframe_6782cc94-467f-4a46-a2b5-46686d80759f"
                          style="display: none; width: 0px;"
                          data-origwidth=""
                          data-origheight=""></iframe>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
              jQuery(document).ready(function () {
                jQuery(document).on(
                  "gform_confirmation_loaded",
                  function (event, formId) {
                    if (formId == "hs6782cc94-467f-4a46-a2b5-46686d80759f") {
                      gformComplete();
                    }
                  }
                );
              });
            </script>
          </div>
        </div>
      </div>
    </div>
    <div class="d-lg-flex mt-3">
      <div class="text-center text-lg-left">
        <p class="text-dark d-lg-inline-block pr-lg-3">
          <b>Tolochenaz, Switzerland</b>
        </p>
        <p class="d-lg-inline-block pr-lg-3">
          <a class="footer-link" href="mailto:contact@lunaphore.com"
            >contact@lunaphore.com</a
          >
        </p>
        <p class="d-lg-inline-block pr-lg-3">
          <a
            class="footer-link signature font-weight-normal"
            href="tel:+41 21 353 58 10"
          >
            +41 21 353 58 10
          </a>
        </p>
        <p class="d-lg-inline-block my-4 my-lg-0">
          <a
            class="social-link"
            href="https://www.linkedin.com/company/lunaphore"
            aria-label="LinkedIn"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a
            class="social-link"
            href="https://twitter.com/lunaphore"
            aria-label="Twitter"
          >
            <i class="fab fa-x-twitter"></i>
          </a>
        </p>
      </div>
      <div class="text-center text-lg-right flex-grow-1">
        <p class="d-inline-block">
          © 2024 Lunaphore Technologies SA. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
