<nav
  class="main-navbar navbar navbar-animated navbar-expand-xl fixed-top navbar-dark"
>
  <div class="container-fluid mw-1600">
    <a class="navbar-brand" href="https://lunaphore.com">
      <img
        class="logo-b"
        src="https://lunaphore.com/wp-content/themes/mokatheme/assets/img/lunaphore_biotechne_grey.png"
        alt="Lunaphore's logo"
      />
      <img
        class="logo-w"
        src="https://lunaphore.com/wp-content/themes/mokatheme/assets/img/lunaphore_biotechne_white.png"
        alt="Lunaphore's logo"
      />
    </a>

    <div class="d-flex d-xl-none ml-auto pr-2">
      <div class="dropdown ml-2">
        <a
          class="nav-home-acf btn-light"
          href="https://my.lunaphore.com/"
          role="button"
          target="_blank"
        >
          <i class="fa fa-user-circle"></i>
        </a>
      </div>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="https://lunaphore.com/" class="nav-link">Home</a>
        </li><li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">Spatial Solutions</a
          ><ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/spatial-biology-solutions/"
                tabindex="-1">Spatial Solutions</a
              >
            </li><li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/our-technology/"
                tabindex="-1">Our Technology</a
              >
            </li><li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/multiomics/"
                tabindex="-1">Multiomics</a
              >
            </li>
          </ul>
        </li><li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">Products</a
          ><ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/products/comet/"
                tabindex="-1">COMET™</a
              >
            </li><li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/products/labsat/"
                tabindex="-1">LabSat®</a
              >
            </li><li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/products/horizon/"
                tabindex="-1">HORIZON™</a
              >
            </li><li class="dropdown-submenu drop-right">
              <div class="d-inline-flex d-lg-flex">
                <a
                  class="dropdown-item"
                  href="https://lunaphore.com/reagents/"
                  tabindex="-1">Reagents</a
                ><a class="dropdown-toggle" href="#"></a>
              </div><ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="https://lunaphore.com/spyre-antibody-panels/"
                    tabindex="-1">SPYRE™ Antibody Panels</a
                  >
                </li><li>
                  <a
                    class="dropdown-item"
                    href="https://lunaphore.com/detection-reagents/"
                    tabindex="-1">Detection Reagents</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li><li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">Resources &amp; Support</a
          ><ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/access-lab/"
                tabindex="-1">Access Lab</a
              >
            </li><li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/resource-center/"
                tabindex="-1">Resource Center</a
              >
            </li><li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/marker-database/"
                tabindex="-1">Marker Database</a
              >
            </li><li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/exploratory-applications/"
                tabindex="-1">Exploratory Applications</a
              >
            </li><li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/testimonials/"
                tabindex="-1">Testimonials</a
              >
            </li><li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/spatial-image-exploration/"
                tabindex="-1">Spatial Image Exploration</a
              >
            </li>
          </ul>
        </li><li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">News &amp; Blog</a
          ><ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/news/"
                tabindex="-1">News</a
              >
            </li><li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/our-blog/"
                tabindex="-1">Blog</a
              >
            </li>
          </ul>
        </li><li class="nav-item">
          <a href="https://lunaphore.com/news/events/" class="nav-link"
            >Events</a
          >
        </li><li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">Company</a
          ><ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/company/"
                tabindex="-1">About Us</a
              >
            </li><li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/partners/"
                tabindex="-1">Partners</a
              >
            </li><li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/team/"
                tabindex="-1">Team</a
              >
            </li><li>
              <a
                class="dropdown-item"
                href="https://lunaphore.com/careers/"
                tabindex="-1">Careers</a
              >
            </li>
          </ul>
        </li><li class="nav-item">
          <a
            href="https://lunaphore.com/contact-us/"
            class="nav-link btn-nav-link">Contact Us</a
          >
        </li><li class="nav-item d-none d-xl-inline-block dropdown pl-3">
          <a
            class="nav-home-acf btn-light ml-auto"
            href="https://my.lunaphore.com/"
            role="button"
            target="_blank"
          >
            <i class="fa fa-user-circle"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script is:inline>
  // Submenu hover
  $(".dropdown-submenu").on("mouseenter", function (e) {
    $(this).addClass("active");
    var submenu = $(this);
    $(this).parent().addClass("d-block");
    $(this).parent().parent().addClass("d-block").attr("aria-expanded", "true");
    submenu.addClass("open");
    $(".dropdown-menu", submenu).addClass("show");
    var bounding = $(".dropdown-menu", submenu)[0].getBoundingClientRect();
    if (
      bounding.right >
      (window.innerWidth || document.documentElement.clientWidth)
    ) {
      submenu.removeClass("drop-right").addClass("drop-left");
    }
    return false;
  });
  // Submenu leave
  $(".dropdown-submenu").on("mouseleave", function (e) {
    $(this).removeClass("active");
    var submenu = $(this);
    $(this).parent().removeClass("d-block");
    $(this)
      .parent()
      .parent()
      .removeClass("d-block")
      .attr("aria-expanded", "false");
    submenu.removeClass("open");
    $(".dropdown-menu", submenu).removeClass("show");
    var bounding = $(".dropdown-menu", submenu)[0].getBoundingClientRect();
    if (
      bounding.right >
      (window.innerWidth || document.documentElement.clientWidth)
    ) {
      submenu.removeClass("drop-right").addClass("drop-left");
    }
    return false;
  });
  // Submenu open
  $(document).mouseup(function (e) {
    var container = $(".navbar-nav");
    if (!container.is(e.target) && container.has(e.target).length === 0) {
      $(".dropdown-toggle").removeClass("active");
      $(".dropdown-submenu").removeClass("open");
      $(".dropdown-submenu .dropdown-menu").removeClass("show");
    }
  });
  // Hide/Show Menu and reduce size
  jQuery(document).ready(function () {
    // Check if browser = Internet Explorer
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE ");
    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
      IE = true;
    } else {
      IE = false;
    }

    if ($("header.hero").length == 0) {
      jQuery(".main-navbar")
        .removeClass("nav-small bg-light navbar-dark")
        .addClass("navbar-light");
    }

    jQuery(window).on("load scroll", function () {
      var topWindow = jQuery(window).scrollTop();

      jQuery(
        ".main-navbar .dropdown, .main-navbar .dropdown-menu, .navbar-collapse.collapse"
      ).removeClass("show");
      jQuery(".main-navbar .navbar-toggler").removeClass("collapsed");
      jQuery(".main-navbar").removeClass("open");
      jQuery(".dropdown-menu .dropdown-toggle")
        .parent()
        .parent()
        .removeClass("open");
      jQuery(".dropdown-menu .dropdown-toggle").removeClass("active");

      if (topWindow > 5) {
        jQuery(".main-navbar")
          .addClass("nav-small bg-light navbar-light")
          .removeClass("navbar-dark");
        jQuery(".dm-checkbox-label").css("top", "15px");
      } else {
        jQuery(".dm-checkbox-label").css("top", "");
        if ($("header.hero").length == 0) {
          jQuery(".main-navbar")
            .removeClass("nav-small bg-light navbar-dark")
            .addClass("navbar-light");
        } else {
          jQuery(".main-navbar")
            .removeClass("nav-small bg-light navbar-light")
            .addClass("navbar-dark");
        }
      }
    });

    jQuery(".main-navbar .navbar-toggler").on("click", function () {
      var topWindow = jQuery(window).scrollTop();
      setTimeout(() => {
        if (!jQuery(this).hasClass("collapsed")) {
          jQuery(".main-navbar").addClass("open");
          if (topWindow <= 5) {
            jQuery(".main-navbar")
              .addClass("bg-light navbar-light")
              .removeClass("navbar-dark");
          }
        } else {
          jQuery(".main-navbar").removeClass("open");
          if (topWindow <= 5) {
            jQuery(".main-navbar")
              .removeClass("bg-light navbar-light")
              .addClass("navbar-dark");
          }
        }
      }, 10);
    });
  });
</script>
